<div class="dashboard-container">
    <div>
        <div class="user-info">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="User Icon" class="user-icon" />
        </div>
        <h2>Hello! Welcome to your ABC Admin Portal</h2>
        <p>Here you can access and view your data.</p>
    </div>
    <div class="cards-grid">
        <div class="card chart-card">
            <h3>Monthly Sales Performance</h3>
            <!-- <canvas
  baseChart
  [data]="lineChartData"
  [labels]="lineChartLabels"
  [options]="lineChartOptions"
  [legend]="lineChartLegend"
  [type]="lineChartType">
</canvas> -->

        </div>

        <div class="card">
            <h3>Conversion Rate</h3>
            <p class="highlight">73.4%</p>
            <button class="btn">View Report</button>
        </div>

        <div class="card">
            <h3>Average Sales Turnaround Time</h3>
            <p class="highlight">5 days</p>
            <p>Team Average <b>4 days</b></p>
            <button class="btn">View Report</button>
        </div>

        <div class="card">
            <h3>Upcoming Renewals</h3>
            <ul style="padding: 25px;">
                <li>Happy Brokers - $1m</li>
                <li>Nico Deal Brokers - $300k</li>
                <li>Brokers and Co - $280k</li>
            </ul>
            <button class="btn">View All</button>
        </div>

        <div class="card">
            <h3>Sales Pipeline</h3>
            <ul style="padding: 25px;">
                <li>Happy Brokers - $1m</li>
                <li>Nico Deal Brokers - $300k</li>
                <li>Brokers and Co - $280k</li>
            </ul>
            <button class="btn">View All</button>
        </div>
    </div>
</div>